.desktop-nav {
	display: none;
	background-color: $blackish;
}
.main-nav {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin: 0 auto;
}
.desktop-nav i {
	display: block;
	font-size: 1.2em;
	text-align: center;
	padding: 20px 0 15px 0;
}

.desktop-nav a {
    color: $white;
    text-decoration: none;
}
.nav-section {
    display: block;
    text-align: center;
    text-transform: uppercase;
		margin-bottom: 20px;
		font-size: 1.1em;
		font-weight: 500;
		line-height: 1em;
}
.small {
    font-size: .65em;
		margin-bottom: 0;
}
.hidden-nav {
    display: none;
}

.desktop-nav nav {
	position: relative;
}

.main-nav {
	overflow: visible;
}

.main-nav li {
	list-style: none;
}

main {
  overflow: hidden;
}
.main-nav > li > a {
	position: relative;
	display: block;
	height: 100%;
}
.main-nav > li > a::after {
	content: "";
	border-style: solid;
	border-width: 33px 51px 0;
	border-color: $havelock-blue transparent transparent transparent;
	height: 0;
	width: 0;
	left: 0;
	position: absolute;
	top: 100%;
	z-index: 100;
	display: none;
}

.main-nav > li:nth-child(1) i {
	color: $hoki;
}
.main-nav > li:nth-child(2) i {
	color: $havelock-blue;
}
.main-nav > li:nth-child(3) i {
	color: $green;
}
.main-nav > li:nth-child(4) i {
	color: $valencia;
}
.main-nav > li:nth-child(5) i {
	color: $purple;
}
.main-nav > li:nth-child(6) i {
	color: $amaranth;
}
.main-nav > li:nth-child(7) i {
	color: $punch;
}
.main-nav li:hover i{
	color: $white;
}

.main-nav > li:nth-child(1):hover {
	background-color: $hoki;
}
.main-nav > li:nth-child(2):hover{
	background-color: $havelock-blue;
	}
.main-nav > li:nth-child(3):hover {
	background-color: $green;
}
.main-nav > li:nth-child(4):hover {
	background-color: $valencia;
}
.main-nav > li:nth-child(5):hover {
	background-color: $purple;
}
.main-nav > li:nth-child(6):hover {
	background-color: $amaranth;
}
.main-nav > li:nth-child(7):hover {
	background-color: $punch;
}

.main-nav > li:nth-child(1) > a::after {
	border-top-color: $hoki;
}
.main-nav > li:nth-child(3) > a::after {
	border-top-color: $green;
}
.main-nav > li:nth-child(4) > a::after {
	border-top-color: $valencia;
}
.main-nav > li:nth-child(5) > a::after {
	border-top-color: $purple;
}
.main-nav > li:nth-child(6) > a::after {
	border-top-color: $amaranth;
}
.main-nav > li:nth-child(7) > a::after {
	border-top-color: $punch;
}


.main-nav > li:nth-child(1) .hidden-nav {
	background-color: $hoki-dark;
}
.main-nav > li:nth-child(2) .hidden-nav {
	background-color: $havelock-blue-mid;
}
.main-nav > li:nth-child(3) .hidden-nav {
	background-color: $green-dark;
}

.main-nav > li:nth-child(4) .hidden-nav {
	background-color: $valencia-dark;
}

.main-nav > li:nth-child(5) .hidden-nav {
	background-color: $purple-mid;
}
.main-nav > li:nth-child(6) .hidden-nav {
	background-color: $amaranth-dark;
}
.main-nav > li:nth-child(7) .hidden-nav {
	background-color: $punch-dark;
}


.main-nav > li:hover > a::after {
	display: block;
}

.main-nav > li:hover .hidden-nav {
	display: block;
}

.main-nav li .hidden-nav {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100vw;
}

.hidden-nav .container {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 40px;
	padding-left: 27px;
	padding-right: 22px;
  // padding-right: 153px;
  // padding-left: 160px;
}

.hidden-nav a {
	display: flex;
	margin: 20px 0;
	// margin-left: -30px;
}
.hidden-nav a:hover span {
  text-decoration: underline;
}

.hidden-nav i {
	padding: 0;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 1em;
}
.hidden-nav .h2 {
	width: 100%;
	display: block;
	font-size: 2em;
	margin-top: 40px;
	margin-bottom: 10px;
	color: $white;
	// margin-left: -30px;
}

.hidden-nav span {
	margin-left: 10px;
	font-size: 1.2em;
	line-height: 1.2em;
	max-width: 75%;
}

.hidden-nav li {
	width: 33%;
}