.view-all-hidden {
  font-size: 1.6em;
  font-weight: 600;
  color: #333645;
  text-decoration: none;
  display: block;
  text-align: center;
  position: absolute;
  right: 20px;
  top: 10px;
  visibility: hidden;
}
.view-all-hidden:hover {
text-decoration: underline;
}
.view-work-all {
  font-size: 1.6em;
  font-weight: 600;
  color: $blackish;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 35px 0 70px 0;
}
.view-work-all:hover {
text-decoration: underline;
}
.tooltip {
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 300px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  background-color: $blackish;
  color: $white;
  text-align: center;
  padding: 20px;
  overflow-wrap: break-word;
  font-size: 1.1em;
}

.tooltip a {
  margin-left: 70px;
}
.tooltiptext p {
  height: auto;
  text-wrap: wrap;
}
.tooltiptext a {
  text-decoration: none;
  color: $white;
  margin: auto;
  text-transform: uppercase;
  padding: 10px;
  filter: none;
  background-color: $hoki;
  border-radius: 3px;
}
.tooltiptext a:hover {
  background-color: $hoki-dark;
}
.tooltiptext i {
  margin-left: 5px;
  margin-top: 5px;
}
.tooltip-description {
  font-size: .8em;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  border-width: 30px;
  border-style: solid;
  border-color: $blackish transparent transparent transparent;
}